body {
    margin: 0;
    padding: 0;
    background: #ffebf5;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.cedarville-cursive-regular {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
}

.book {
    width: 95vw;
    max-width: 380px;
    height: 520px;
    background: rgb(255, 255, 255);
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    position: relative;
    overflow: hidden;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    background: rgb(255, 200, 227);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    box-sizing: border-box;
    transition: left 0.5s ease;
}

.page.active {
    left: 0;
}

.page.prev {
    left: -100%;
}

.page img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.page h2 {
    font-size: 24px;
    text-align: center;
    color: #dc0000;
}

.controls {
    width: 95vw;
    max-width: 380px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

button {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    background: #f07e9a;
    color: #ffebf5;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
}

button:active {
    transform: scale(0.92);
}

.macka img {
    max-width: 250px;
    height: 250px;
    z-index: 1000;

    position: fixed;
    right: 60px;
}


.full-bg {
    position: fixed;
    /* fixne na obrazovke */
    top: 0;
    left: 0;
    width: 100vw;
    /* celá šírka obrazovky */
    height: 100vh;
    /* celá výška obrazovky */
    background-image: url('fotky/_ (2).jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -9999;
    /* úplne vzadu */
}


h1 {
    position: fixed;
    top: 30px;
    font-size: 42px;
    color: #950102;
    z-index: 1000;
    font-family: "Cedarville Cursive", cursive;
}

.srdce img {
    max-width: 150px;
    height: 150px;
    z-index: 1000;

    position: fixed;
    top: 100px;
    right: 5px;
}

h3 {
    font-size: 25px;
    text-align: center;
    color: #dc0000;

}

/* Container pre srdiečka */
#hearts-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* aby neprekážali klikaniu */
    z-index: 999;
    /* nad knihou */
}

/* Jedno srdiečko */
.heart {
    position: absolute;
    width: 30px;
    height: 30px;
    background: rgb(255, 81, 110);
    clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
    animation: floatUp 4s linear infinite;
}

@keyframes floatUp {
    0% {
        transform: translateY(100vh) scale(0.5);
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(-50px) scale(1);
        opacity: 0;
    }
}